.schedule {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction:column;

  .schedule-area {
  	height: 160px;
  	position: relative;
  }

  .arrows {
  	margin-top: var(--main-padding);
  	margin-bottom: var(--main-padding);
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  }
}

.schedule-columns {
  top: 0px;
  right: 0px;
  height: 100%;
  width: calc(100vw - var(--main-padding) * 2 - 70px);
  display: flex;
  flex-wrap:  nowrap;
  position: relative;
  z-index: 1;
  overflow-x: scroll;
  padding-bottom: 10px;
}

.schedule-columns:after {
  z-index: 2;
}

.column {
	width: 10px;
	min-width: calc(100% / 29);
	height: 100%;
	margin-left: 4px;
	margin-top: auto;
	margin-bottom: 0px;
	border-radius: var(--border-radius);
	flex: 0 0 auto;
  	height: 100%;
  	display: flex;
  	flex-direction: column-reverse;

	.column-data {
		display: flex;
		flex-direction: column;
		border-radius: 5px;
		overflow:  hidden;
	}

	.column-text {
		text-align: center;
		font-size: var(--fz-5);
		font-weight: var(--fw-4);
		min-height: 15px;
	}

	.filler {
		width: 100%;

	}
}

.column:first-of-type {
  margin-left: 0;
}

.legend {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(100% - 25px);
  z-index: 0;
}

.indicator {
  position: absolute;
  font-size: var(--fz-5);
  font-weight: var(--fw-3);
  width: 100%;
  text-align: right;
}

.indicator-line {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #E0E0E0;
}
