.schedule {
  max-width: 100%;
  position: relative;
  height: 140px;
}

.schedule-columns {
  top: 0px;
  right: 0px;
  height: 100%;
  width: calc(100vw - var(--main-padding) * 2);
  display: flex;
  flex-wrap:  nowrap;
  position: relative;
  z-index: 1;
  overflow-x: scroll;
}

.schedule-columns:after {
  z-index: 2;
}

.column {
  width: 10px;
  height: 100%;
  margin-left: 7px;
  margin-top: auto;
  margin-bottom: 0px;
  border-radius: var(--border-radius);
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow:  hidden;

}

.column .column-text {
  padding: 0 var(--fourth-padding);
  text-align: center;
  color: #000;
  font-size: var(--fz-3);
}

.column:first-of-type {
  margin-left: 0;
}

.legend {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.indicator {
  position: absolute;
  font-size: var(--fz-4);
  color: var(--green);
  width: 100%;
}

.indicator-line {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #E0E0E0;
}
